body {
    display: flex;
    flex-direction: column;
    background-color: #F3E6E1;
    font-family: 'poppins', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

hr {
    margin: 1px 5%;
    border: 1px solid #D24511;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #D24511;
    top: 0;
    margin-bottom: 20px;
    height: 60px;
    padding: 5px 5%;
}

.navbar img {
    height: 90%;
    margin: auto 0;
}

.navbar a {
    margin: auto 0;
    text-decoration: none;
}

.navbar a div {
    display: flex;
    background-color: #42251A;
    height: 45px;
    width: 100px;
    border-radius: 15px;
}
.navbar a div span {
    font-size: 1.25em;
    font-weight: 600;
    color: #F3E6E1;
    margin: auto;
}


.judul {
    margin: 0;
}

.judul-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5%;
}

.judul-content h1 {
    font-size: 3em;
    margin: 0;
    color: #D24511;
    flex-grow: 1;
}

.judul-content button {
    background-color: #42251A;
    border-radius: 15px;
    font-size: 1.25em;
    color: #ECCDC2;
    margin-left: 20px;
}

.edit {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
    gap: 21px 7px;
    margin: 5px 5%;
    height: 100%;
    overflow-y: scroll;
    max-width: 90%;
}

.tambah-menu {
    height: 318px;
    width: 168px;
    text-decoration: none;
}

.tambah-menu div {
    display: flex;
    background-color: #D24511;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.tambah-menu div img {
    margin: auto;
}

.detail-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 318px;
    width: 168px;
    background-color: #ECCDC2;
    padding: 1px;
    border-radius: 15px;
    overflow: hidden;
}
.detail-menu span {
    white-space: nowrap;
    overflow-x: scroll;
    font-size: 1.25em;
    font-weight: 600;
    color: #42251A;
    margin: 0 5%;
    padding: 1% 0;
}

.detail-menu span::-webkit-scrollbar {
    display: none;
}
  
.detail-menu span p{
    font-size: 0.8em;
    font-weight: 400;
    color: #42251A;
    margin: 0 0 5% 0;
    padding: 0;
}

.detail-menu p {
    font-size: 0.8em;
    font-weight: 400;
    color: #42251A;
    margin: 0 5%;
    padding: 0;
}

.img-container {
    height: 168px;
    width: 168px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0 0 0;
    gap: 10px;
}

.button a {
    text-decoration: none;
}

.button span {
    font-size: 1.25em;
    font-weight: 600;
    color: #F3E6E1;
    margin: auto;
    padding: 0;
}

.tombol-edit {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #42251A;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
}

.tombol-hapus {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #D24511;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
}

.footer {
    margin-top: 5px;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    text-align: center;
    margin-top: auto;
}

.footer-content p {
    text-align: center;
    margin: 10px;
    font-size: 12px;
}

.footer-content a {
    margin: 10px 0;
    text-decoration: none;
}

.footer-content a div {
    display: flex;
    background-color: #D24511;
    height: 45px;
    width: 100px;
    border-radius: 15px;
}
.footer-content a div span {
    font-size: 1.25em;
    font-weight: 600;
    color: #F3E6E1;
    margin: auto;
}