@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F3E6E1;
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

hr {
    margin: 1px 5%;
    border: 1px solid #D24511;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #D24511;
    top: 0;
    height: 60px;
    padding: 0 5%;
    margin-bottom: 10px;
}

.navbar img {
    height: 90%;
    margin: auto 20px auto 0;
}

.nav-judul {
    flex-grow: 1;
    font-size: 2.5em;
    font-weight: 700;
    color: #F3E6E1;
    margin: auto 0;
}

.navbar a {
    margin: auto 0;
    text-decoration: none;
}

.navbar a div {
    display: flex;
    background-color: #42251A;
    height: 45px;
    padding: 0 20px;
    border-radius: 15px;
}

.navbar a div:hover{
    transform: scale(0.95);
    background-color: #42251a;
    transition: 0.4s;
    color: #d24511;
}
.navbar a div span {
    font-size: 1.25em;
    font-weight: 600;
    color: #F3E6E1;
    margin: auto;
}


.judul {
    margin: 0;
}

.judul-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5%;
}

.judul-content h1 {
    font-size: 3em;
    margin: 0;
    color: #D24511;
    flex-grow: 1;
}

.judul-content form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.judul-content button {
    border: none;
    height: 36px;
    border-radius: 10px;
    font-size: 1.25em;
    color: #F3E6E1;
    margin: auto 0;
    margin-left: 20px;
    padding: 0 20px;
}

.batal {
    background-color: #d24511;
}

.simpan {
    background-color: #42251A;
}

.edit {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 169px);
    grid-template-rows: repeat(auto-fill, 320px);
    gap: 15px;
    margin: 0 5%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px 0;
    max-width: 90%;
}

.edit::-webkit-scrollbar {
    display: none;
}

.tambah-menu {
    height: 318px;
    width: 168px;
    text-decoration: none;
    
}

.tambah-menu div {
    display: flex;
    background-color: #D24511;
    height: 100%;
    width: 100%;
    border: 1px solid #ECCDC2;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tambah-menu div img {
    margin: auto;
}

.detail-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 318px;
    width: 168px;
    border: 1px solid #42251A;
    border-radius: 8px;
    background-color: #ECCDC2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detail-menu span {
    white-space: nowrap;
    overflow-x: scroll;
    font-size: 1.25em;
    font-weight: 600;
    color: #42251A;
    margin: 3px 5%;
}

.detail-menu span::-webkit-scrollbar {
    display: none;
}

.detail-menu p {
    font-size: 0.8em;
    font-weight: 400;
    color: #42251A;
    margin: 2px 5%;
    padding: 0;
}

.img-container {
    height: 135px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #42251A;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 5%;
    gap: 10px;
}

.button a {
    text-decoration: none;
}

.button span {
    font-size: 1.25em;
    font-weight: 600;
    color: #F3E6E1;
    margin: auto;
    padding: 0;
}

.tombol-edit {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #42251A;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
}

.tombol-hapus {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #D24511;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
}

.footer {
    margin-top: 5px;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    text-align: center;
    margin-top: auto;
}

.footer-content p {
    text-align: center;
    margin: 10px;
    font-size: 12px;
}

.footer-content a {
    margin: 10px 0;
    text-decoration: none;
}

.footer-content a div {
    display: flex;
    background-color: #D24511;
    height: 45px;
    width: 100px;
    border-radius: 15px;
}
.footer-content a div span {
    font-size: 1.25em;
    font-weight: 600;
    color: #F3E6E1;
    margin: auto;
}
.batal:hover {
    transform: scale(0.95);
    transition: transform 0.3s ease;
}
.simpan:hover {
    transform: scale(0.95);
    transition: transform 0.3s ease;
}
.tombol-edit:hover {
    transform: scale(0.95);
    transition: transform 0.3s ease;
}
.tombol-hapus:hover {
    transform: scale(0.95);
    transition: transform 0.3s ease;
}
.tambah-menu:hover {
    transform: scale(0.95);
    transition: transform 0.3s ease;
}