@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: #F3E6E1;
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

hr {
    margin: 0 5%;
    border: 1px solid #D24511;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #D24511;
    top: 0;
    margin-bottom: 20px;
    height: 60px;
    padding: 5px 5%;
}

.navbar img {
    height: 90%;
    margin: auto 20px auto 0;
}

.nav-judul {
    flex-grow: 1;
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Poppins';
    color: #F3E6E1;
    margin: auto 0;
}

.navbar a {
    margin: auto 0;
    text-decoration: none;
}

.navbar a div {
    display: flex;
    background-color: #42251A;
    height: 45px;
    padding: 0 20px;
    border-radius: 15px;
}

.navbar a div:hover{
    transform: scale(0.95);
    background-color: #42251a;
    transition: 0.4s;
    color: #d24511;
}
.navbar a div span {
    font-size: 1.25em;
    font-weight: 600;
    color: #F3E6E1;
    margin: auto;
}

.tombol-edit {
    margin-top: 2px;
    height: 20px;
    width: 100%;
    text-decoration: none;
}

.tombol-edit div {
    display: flex;
    background-color: #42251A;
    
    border-radius: 15px;
}
.tombol-edit div span {
    font-size: 1.25em;
    font-weight: 600;
    color: #F3E6E1;
    margin: auto;
}

.judul {
    display: flex;
    justify-content: flex-end;
    margin: 0 5%;
}

.judul h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 700;
    color: #D24511;
    margin-right: 30%;
}

.footer {
    margin: 0px;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    text-align: center;
    margin-top: auto;
}

.footer-content p {
    text-align: center;
    margin: 10px;
    font-size: 12px;
}


.judul a {
    margin: 10px 0;
    text-decoration: none;
}



.judul a div {
    display: flex;
    background-color: #D24511;
    height: 45px;
    width: 100px;
    border-radius: 15px;
}
.judul a div span {
    font-size: 1.25em;
    font-weight: 600;
    color: #F3E6E1;
    margin: auto;
}
.judul a:hover{
    transform: scale(0.95);
    transition: transform 0.3s ease;
}