@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F3E6E1;
    font-family: 'poppins', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.menu-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #D24511;
    top: 0;
    height: 60px;
    padding: 5px 5%;
}

.navbar img {
    height: 90%;
    margin: auto 20px auto 0;
}

.nav-judul {
    flex-grow: 1;
    font-size: 2.5em;
    font-weight: 700;
    color: #F3E6E1;
    margin: auto 0;
}

.navbar a {
    margin: auto 0;
    text-decoration: none;
}

.navbar a div {
    display: flex;
    background-color: #42251A;
    height: 45px;
    padding: 0 20px;
    border-radius: 15px;
}

.navbar a div:hover{
    transform: scale(0.95);
    background-color: #42251a;
    transition: 0.4s;
    color: #d24511;
}
.navbar a div span {
    font-size: 1.25em;
    font-weight: 600;
    color: #F3E6E1;
    margin: auto;
}

.form-container {
    background-color: #F3D9C9;
    padding: 20px 5%;
    border-radius: 8px;
    margin: auto 25%;
    text-align: center;
    box-sizing: border-box;
}

.form-container h1 {
    font-size: 3em;
    font-weight: 700;
    color: #D14A24;
    margin: 10px 0 30px 0;
}


.form-content {
    display: flex;
    flex-direction: row;
    gap: 5%;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}

.image-upload {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background-color: #FFECE2;
    align-items: center;
    justify-content: center;
    border: 2px dashed #D14A24;
    border-radius: 8px;
}

.image-upload img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin: auto;
}

.upload-icon {
    font-size: 50px;
    color: #3B2F2F;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.menu-form label {
    font-size: 16px;
    color: #42251A;
    text-align: left;
}

.menu-form input, .menu-form select {
    width: 100%;
    height: 36px;
    padding: 0 10px;
    border: 1px solid #42251A;
    border-radius: 8px;
    font-size: 1.15em;
}

.tombol-form {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 30px;
}

.tombol-form button {
    width: 100%;
    margin: 0 auto;
    height: 36px;
    text-align: center;
    font-size: 1.15em;
    font-weight: 700;
}

.add-button {
    background-color: #3B2F2F;
    color: #ECCDC2;
    padding: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.back-button {
    background-color: #D24511;
    text-align: left;
    color: #ECCDC2;
    padding: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}


footer {
    color: black;
    padding: 10px;
    text-align: left;
    margin-left: 25%;
    width: auto;
    box-sizing: border-box;
    font-size: 12px;
}
